body {
    padding:0px 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

table {
    border-collapse: collapse;
}

tr {
    min-height: 25px;
}
th {
    text-align: left;
    font-size:1.5em;
    font-weight: bold;
    text-decoration: blink;
}

td {
    border:1px solid #ccc;

    line-height:1.5em;
}

.descr {
    font-weight:bold;
    font-size: 1.2em;
}
.link {
    font-size: 0.7em;
}
.check {
    text-align: center;
}




/* https://www.formget.com/css-lists/ */
.list-type1{

    margin:0;
    margin-left:100px;

    min-width:500px;
    max-width:70%;
}

.list-type1 ol{
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin-bottom: 4em;
}
.list-type1 ol ol{
    margin: 0 0 0 2em;
}

.list-type1 a{
    position: relative;
    display: inline-block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .3em 0;
    background: #AAD77A;
    color: #000;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: 10em;
    transition: all 0.7s ease-in-out;

    margin-left:0px;
cursor:alias;

    width:100%;
}

.list-type1 a:hover{
    /*background: #d6d4d4;*/
    text-decoration:none;
    /*transform: scale(1.1);*/

   /* margin-left:10px;*/

    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

.list-type1 a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #AAD77A;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    color:#FFF;

    transition: all 0.7s ease-in-out;
}


.list-type1 a.used{
    content:"X";
    background: #bdbdbd;
    color:#6E6E6E;
}
.list-type1 a.used:before{
    content:"X";
    background:red;
}
.list-type1 a.used:hover:before{
    animation:spin 1.5s ease-in-out ;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.list-type1 .onoffswitch {
    display:inline-block;
    float:right;
    cursor:pointer;
}